body, html {
  height: 100%;
  margin: 0;
  background: #000; /* Adjust background color as needed */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Use vh for full viewport height */
}
